.button {
    border: none;
    background: $blue;
    color: white;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

    &--link {
        background: none;

    }

    &--secondary {
        background: #888;
    }
}